* {
    margin: 0;
}


.header {
    color: white;
    background-color: blue;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 1;
}

#container {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-auto-rows: 100px;

}

.results1 {
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 2;
}
.results2 {
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 3;
}
.results3 {
    justify-content: center;
    text-align: center;
    justify-items: center;
    align-items: center;
    border: 1px solid black;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column: 4;
    
}

.date1 {
    grid-column-end: 5;
    grid-row-start: 1;
    justify-self: end;
    place-self: center;
    color: white;
    font-size: 2rem;
}

.searchbar {
    grid-column-start: 1;
    grid-row-start: 1;
    align-self: center;
    margin-left: 5px;
}

